*~
*/#*#
ede-projects.el
eglot-java-eclipse-jdt-cache/
eln-cache/
eshell/
etc/
games/
history
ido.last
multisession/
network-security.data
places
projects
recentf
session.*
tramp
transient/
tree-sitter/
url
workspace/
share/